.header {
    width: 1440px;
    height: 59px;
    top: 0;
    position: fixed;
    background-color: white;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border-radius: 31px;
        padding: 8px 0px 8px 12px;
        margin: 13px 0 13px 20px;
        color: inherit;
        gap: 8px;
        width: 209px;
        height: 33px;


        &-vegetable {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: #000000;
            width: 109px;
            height: 27px;
        }

        &-shop {
            padding: 5px 12px;
            background-color: #54B46A;
            border-radius: 21px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
            width: 80px;
            height: 33px;
        }
    }


    &__cart-empty,
    &__cart-notEmpty {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        padding: 10px 40px;
        gap: 10px;
        opacity: 1;
        border-radius: 8px;
        background: #54B46A;

        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

        & img {
            width: 20px;
            height: 20px;
            opacity: 1;
        }

        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FFFFFF;
            color: #000000;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
}
